<div id="footer" [ngClass]="{'scrolled': isScrolled, 'transparent': !isScrolled}">
    <p>&copy; 2024 Rhizart. All Rights Reserved.</p>
    <div class="social-icons">
      <a href="https://twitter.com" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://twitter.com" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </div>