app-navbar{
    display: block;
    left: 0;
    right: 0;
    z-index: 12;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

.background {
      background: url('/assets/background.jpg') repeat center top;  /* Adjust starting position to top */
      z-index: 1;
  }