<div class="grid">
    <div class="col-12">
        <header>
            <span class="text-with-line">
                &nbsp;&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;&nbsp;H&nbsp;&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;&nbsp;W&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </header>
        <div class="grid">
            <div class="col-1">
            </div>
            <div class="col-10">
                <hr class="header-hr">
            </div>
            <div class="col-1">
            </div>
        </div>
        <div style="margin-top: 20px;">
            <p-fieldset legend="Most Recent Artworks">
                <p-carousel [value]="artworks" [numVisible]="3" [numScroll]="3" [circular]="true">
                    <ng-template pTemplate="item" let-artwork>
                        <div class="artwork-item">
                          <!-- Image container with hover effect -->
                          <div class="image-container">
                            <img [src]="artwork.image" [alt]="artwork.title" class="carousel-image">
                            <!-- Eye icon that will appear on hover -->
                            <div class="hover-overlay" (click)="openPreview(artwork)">
                              <i class="fas fa-eye"></i>
                            </div>
                          </div>
                          <div class="grid">
                            <div class="col-12">
                                <div class="artwork-title">
                                    <span class="title-with-line">

                                        {{ artwork.title }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                            <div class="col-10">
                                <hr class="title-hr">
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                        </div>
                      </ng-template>
                </p-carousel>
            </p-fieldset>
        </div>
    </div>
</div>

<!-- Modal for Image Preview -->
<div class="image-preview" *ngIf="isPreviewOpen" (click)="closePreview()">
    <span class="close">&times;</span>  <!-- Close button -->
    <!-- The title (caption) moved to the top -->
     <div class="grid">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="caption">{{ selectedImage.title }}</div>
            <img class="preview-img" [src]="selectedImage.image" [alt]="selectedImage.title">
        </div>
        <div class="col-1"></div>

     </div>
  </div>